body {
  background-color: black;
  display: flexbox;
}

#main {
  background-color: white;
  padding-top: 30px;
  padding-bottom: 40px;
  margin: auto;
  top: 15%;
  width: 700px;
  position: relative;
  border-radius: 25px;
}

#text {
  text-align: left;
  left: 100px;
  position: relative;
}

h1 {
  color: grey;
  left: 50px;
  position: relative;
}

#copy {
  left: 50px;
  position: relative;
}
